<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation Version 3</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="static/css/version_3/home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>Presentation Version 3</h1>
    <p>
        This is Presentation Version 3, which is just our base level
        presentation, but now including normalize.css
        to normalize the styling across the major browsers.
        It also includes the styling we've created interactively.
        This also has no JavaScript.
    </p>
    <!-- unsorted list -->
    <ul>
        <li>Thing 1 - this is really something</li>
        <li>Thing 2 - oh wait, this is really something</li>
        <li>Thing 3 - never mind what I said before, this is something</li>
        <li>Thing 4 - okay, that's it, this is the final thing</li>
    </ul>
    <!-- table one -->
    <table class="my_table table_one">
        <caption>
            Strings Table
        </caption>
        <thead>
            <tr>
                <th>String One</th>
                <th>String Two</th>
                <th>String Three</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Something One</td>
                <td>Something Two</td>
                <td>Something Three</td>
            </tr>
            <tr>
                <td>Something Four</td>
                <td>Something Five</td>
                <td>Something Six</td>
            </tr>
            <tr>
                <td>Something Seven</td>
                <td>Something Eight</td>
                <td>Something Nine</td>
            </tr>
        </tbody>
    </table>
    <!-- table two -->
    <table class="my_table table_two">
        <caption>
            Numbers Table
        </caption>
        <thead>
        <tr>
            <th>Number One</th>
            <th>Number Two</th>
            <th>Number Three</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>12</td>
            <td>3.14159</td>
            <td>144.34</td>
        </tr>
        <tr>
            <td>12</td>
            <td>3.14159</td>
            <td>144.34</td>
        </tr>
        <tr>
            <td>12</td>
            <td>3.14159</td>
            <td>144.34</td>
        </tr>
        </tbody>
    </table>
    <!-- form -->
    <form>
        <div>
            <label for="string_data">String Data</label>
            <input id="string_data" type="text" value="" />
            <label for="number_data">Number Data</label>
            <input id="number_data" type="number" value="" />
        </div>
        <div class="actions">
            <button id="cancel">Cancel</button>
            <button id="okay">Okay</button>
        </div>
    </form>
</body>
</html>